public/
resources/_gen/
.hugo_build.lock
__pycache__/
*.pyc
.venv/
.env
translation_config.json
*_cache.json
.*_cache.json
.races_cache.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
