{{ define "main" }}
<article class="page-content list-page">
  {{ partial "breadcrumbs.html" . }}

  {{ $kind := partial "helpers/kind.html" . }}
  {{ $kindPartial := printf "kinds/%s.html" $kind }}
  {{ if and $kind (templates.Exists (printf "partials/%s" $kindPartial)) }}
    {{ partial $kindPartial . }}
  {{ else }}
    {{ partial "kinds/default.html" . }}
    {{ if and (in .RelPermalink "/compendium/") (ne $kind "compendium_index") }}
      {{ partial "compendium-groups.html" (dict "page" . "group_mode" "kind") }}
    {{ else }}
      {{ partial "child_pages.html" . }}
    {{ end }}
  {{ end }}

  {{ partial "relationships.html" . }}
</article>
{{ end }}
