{{- $page := . -}}
{{- $kind := partial "helpers/kind.html" $page -}}
{{- $isCharacter := eq $kind "character" -}}
{{- $name := or $page.Params.titulo_pt_br $page.Title -}}
{{- $source := dict -}}
{{- if $isCharacter -}}
  {{- $source = default (dict) (index $page.Params "char_info") -}}
{{- else -}}
  {{- $source = default (dict) (index $page.Params "stats") -}}
{{- end -}}
{{- $stats := default (dict) (index $source "attributes") -}}
{{- if $isCharacter -}}
  {{- $stats = default (dict) (index $source "stats") -}}
{{- end -}}

{{- $classText := "" -}}
{{- $level := "" -}}
{{- if $isCharacter -}}
  {{- $classText = printf "%v" (default "" (index $source "class")) -}}
  {{- $levelMatches := findRE "[0-9]+" $classText -}}
  {{- $totalLvl := 0 -}}
  {{- range $levelMatches -}}
    {{- $totalLvl = add $totalLvl (int .) -}}
  {{- end -}}
  {{- if gt $totalLvl 0 -}}
    {{- $level = $totalLvl -}}
  {{- else -}}
    {{- $level = or (index $source "level") (index $source "class_level") -}}
  {{- end -}}
{{- end -}}
{{- $challenge := default "" (index $source "cr") -}}

{{- $size := "" -}}
{{- $species := "" -}}
{{- $alignment := "" -}}
{{- if $isCharacter -}}
  {{- $size = default "Medium" (index $source "size") -}}
  {{- $alignment = default "Neutral" (index $source "alignment") -}}
  {{- $species = default "" (or (index $source "species") (index $source "race")) -}}
{{- else -}}
  {{- $statsMeta := printf "%v" (default "" (index $page.Params "stats_meta")) -}}
  {{- $metaParts := split $statsMeta "," -}}
  {{- $metaFirst := trim (index $metaParts 0) " \t" -}}
  {{- $sizeMatches := findRE "^[^ ]+" $metaFirst -}}
  {{- if gt (len $sizeMatches) 0 -}}
    {{- $size = index $sizeMatches 0 -}}
    {{- $species = trim (replaceRE "^[^ ]+[ \t]+" "" $metaFirst) " \t" -}}
  {{- end -}}
  {{- if gt (len $metaParts) 1 -}}
    {{- $alignment = trim (index $metaParts 1) " \t" -}}
  {{- end -}}
{{- end -}}

{{- $hp := "" -}}
{{- $hpMatches := findRE "^[0-9]+" (printf "%v" (default "" (index $source "hp"))) -}}
{{- if gt (len $hpMatches) 0 -}}
  {{- $hp = int (index $hpMatches 0) -}}
{{- end -}}
{{- $ac := "" -}}
{{- $acMatches := findRE "^[0-9]+" (printf "%v" (default "" (index $source "ac"))) -}}
{{- if gt (len $acMatches) 0 -}}
  {{- $ac = int (index $acMatches 0) -}}
{{- end -}}

{{- $walkSpeed := "" -}}
{{- $swimSpeed := "" -}}
{{- $burrowSpeed := "" -}}
{{- $climbSpeed := "" -}}
{{- $flySpeed := "" -}}

{{- $savesText := "" -}}
{{- $strSave := "" -}}
{{- $dexSave := "" -}}
{{- $conSave := "" -}}
{{- $intSave := "" -}}
{{- $wisSave := "" -}}
{{- $chaSave := "" -}}

{{- if and $isCharacter (isset $source "speed") (isset $source "saves") -}}
  {{- $speedDict := default (dict) (index $source "speed") -}}
  {{- $walkSpeed = index $speedDict "walk" -}}
  {{- $swimSpeed = index $speedDict "swim" -}}
  {{- $burrowSpeed = index $speedDict "burrow" -}}
  {{- $climbSpeed = index $speedDict "climb" -}}
  {{- $flySpeed = index $speedDict "fly" -}}

  {{- $savesDict := default (dict) (index $source "saves") -}}
  {{- $strSave = index $savesDict "str" -}}
  {{- $dexSave = index $savesDict "dex" -}}
  {{- $conSave = index $savesDict "con" -}}
  {{- $intSave = index $savesDict "int" -}}
  {{- $wisSave = index $savesDict "wis" -}}
  {{- $chaSave = index $savesDict "cha" -}}
  {{- $savesText = printf "%v" (default "" (index $source "saves_summary")) -}}
{{- else -}}
  {{- $speedText := printf "%v" (default "" (index $source "speed")) -}}
  {{- /* Tenta casar primeiro no formato "walk X" */ -}}
  {{- $walkMatches := findRE "(?i)walk[ \\t]+[0-9]+" $speedText -}}
  {{- if gt (len $walkMatches) 0 -}}
    {{- $numberMatches := findRE "[0-9]+" (index $walkMatches 0) -}}
    {{- if gt (len $numberMatches) 0 -}}
      {{- $walkSpeed = int (index $numberMatches 0) -}}
    {{- end -}}
  {{- else -}}
    {{- /* Fallback para quando começa direto com o número (ex: "30 ft.") */ -}}
    {{- $walkFallback := findRE "^[0-9]+" $speedText -}}
    {{- if gt (len $walkFallback) 0 -}}
      {{- $walkSpeed = int (index $walkFallback 0) -}}
    {{- end -}}
  {{- end -}}
  {{- range $speed := (slice "swim" "burrow" "climb" "fly") -}}
    {{- $speedMatches := findRE (printf "(?i)%s[ \\t]+[0-9]+" $speed) $speedText -}}
    {{- if gt (len $speedMatches) 0 -}}
      {{- $numberMatches := findRE "[0-9]+" (index $speedMatches 0) -}}
      {{- if gt (len $numberMatches) 0 -}}
        {{- if eq $speed "swim" -}}{{- $swimSpeed = int (index $numberMatches 0) -}}{{- end -}}
        {{- if eq $speed "burrow" -}}{{- $burrowSpeed = int (index $numberMatches 0) -}}{{- end -}}
        {{- if eq $speed "climb" -}}{{- $climbSpeed = int (index $numberMatches 0) -}}{{- end -}}
        {{- if eq $speed "fly" -}}{{- $flySpeed = int (index $numberMatches 0) -}}{{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- $savesRaw := index $source "saves" -}}
  {{- if reflect.IsMap $savesRaw -}}
    {{- range $attr, $val := $savesRaw -}}
      {{- $value := int (replaceRE `[+-]` "" (printf "%v" $val)) -}}
      {{- if eq (lower $attr) "str" -}}{{- $strSave = $value -}}{{- end -}}
      {{- if eq (lower $attr) "dex" -}}{{- $dexSave = $value -}}{{- end -}}
      {{- if eq (lower $attr) "con" -}}{{- $conSave = $value -}}{{- end -}}
      {{- if eq (lower $attr) "int" -}}{{- $intSave = $value -}}{{- end -}}
      {{- if eq (lower $attr) "wis" -}}{{- $wisSave = $value -}}{{- end -}}
      {{- if eq (lower $attr) "cha" -}}{{- $chaSave = $value -}}{{- end -}}
    {{- end -}}
    {{- $parts := slice -}}
    {{- range $attr, $val := $savesRaw -}}
      {{- $parts = $parts | append (printf "%s %v" (title $attr) $val) -}}
    {{- end -}}
    {{- $savesText = delimit $parts ", " -}}
  {{- else -}}
    {{- $savesText = printf "%v" (default "" $savesRaw) -}}
    {{- range $save := (findRE "(?i)(Str|Dex|Con|Int|Wis|Cha)[ \\t]+[+-]?[0-9]+" $savesText) -}}
      {{- $valueMatches := findRE "[+-]?[0-9]+$" $save -}}
      {{- if gt (len $valueMatches) 0 -}}
        {{- $value := int (index $valueMatches 0) -}}
        {{- if hasPrefix $save "Str" -}}{{- $strSave = $value -}}{{- end -}}
        {{- if hasPrefix $save "Dex" -}}{{- $dexSave = $value -}}{{- end -}}
        {{- if hasPrefix $save "Con" -}}{{- $conSave = $value -}}{{- end -}}
        {{- if hasPrefix $save "Int" -}}{{- $intSave = $value -}}{{- end -}}
        {{- if hasPrefix $save "Wis" -}}{{- $wisSave = $value -}}{{- end -}}
        {{- if hasPrefix $save "Cha" -}}{{- $chaSave = $value -}}{{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $skills := slice -}}
{{- $skillsRaw := index $source "skills" -}}
{{- if reflect.IsMap $skillsRaw -}}
  {{- range $name, $val := $skillsRaw -}}
    {{- $bonusVal := "" -}}
    {{- if reflect.IsMap $val -}}
      {{- $bonus := index $val "bonus" -}}
      {{- if ge $bonus 0 -}}
        {{- $bonusVal = printf "+%v" $bonus -}}
      {{- else -}}
        {{- $bonusVal = printf "%v" $bonus -}}
      {{- end -}}
    {{- else -}}
      {{- $bonusVal = printf "%v" $val -}}
    {{- end -}}
    {{- $skillName := printf "%s %s" (title $name) $bonusVal -}}
    {{- $skillHash := md5 (printf "%s:%s" $page.Permalink $skillName) -}}
    {{- $skillID := printf "%s-%s-%s-%s-%s" (substr $skillHash 0 8) (substr $skillHash 8 4) (substr $skillHash 12 4) (substr $skillHash 16 4) (substr $skillHash 20 12) -}}
    {{- $skills = $skills | append (dict "id" $skillID "name" $skillName "description" (printf "Perícia importada: %s" $skillName)) -}}
  {{- end -}}
{{- else -}}
  {{- $skillsText := printf "%v" (default "" $skillsRaw) -}}
  {{- if and (ne $skillsText "") (ne $skillsText "<nil>") -}}
    {{- range (split $skillsText ",") -}}
      {{- $skillName := trim . " \t" -}}
      {{- if ne $skillName "" -}}
        {{- $skillHash := md5 (printf "%s:%s" $page.Permalink $skillName) -}}
        {{- $skillID := printf "%s-%s-%s-%s-%s" (substr $skillHash 0 8) (substr $skillHash 8 4) (substr $skillHash 12 4) (substr $skillHash 16 4) (substr $skillHash 20 12) -}}
        {{- $skills = $skills | append (dict "id" $skillID "name" $skillName "description" (printf "Perícia importada: %s" $skillName)) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $emptyList := slice -}}
{{- $senses := default "" (index $source "senses") -}}
{{- $languages := default "" (index $source "languages") -}}
{{- $resistance := default "" (or (index $source "resistance") (index $source "resistances")) -}}
{{- $immunity := default "" (or (index $source "immunity") (index $source "immunities")) -}}
{{- $vulnerable := default "" (or (index $source "vulnerable") (index $source "vulnerabilities")) -}}
{{- $statusImmunity := default "" (or (index $source "status_immunity") (index $source "condition_immunities")) -}}
{{- $proficiency := default "" (index $source "proficiency") -}}
{{- $abilities := default $emptyList (index $source "abilities") -}}
{{- $actions := default $emptyList (index $source "actions") -}}
{{- $bonusActions := default $emptyList (index $source "bonus_actions") -}}
{{- $reactions := default $emptyList (index $source "reactions") -}}
{{- $legendaryActions := default $emptyList (index $source "legendary_actions") -}}
{{- $spellList := default $emptyList (or (index $source "spell_list") (index $page.Params "spells_usage")) -}}
{{- $inventory := default $emptyList (or (index $source "inventory") (index $page.Params "inventory")) -}}
{{- $temporaryHP := default "" (index $source "temporary_hp") -}}

{{- if not $isCharacter -}}
  {{- /* Parse monster abilities/actions from body sections if they are empty */ -}}
  {{- if and (eq (len $abilities) 0) (eq (len $actions) 0) (eq (len $bonusActions) 0) (eq (len $reactions) 0) (eq (len $legendaryActions) 0) -}}
    {{- $raw := printf "\n%s" $page.RawContent -}}
    {{- $sections := split $raw "\n## " -}}
    {{- range $sections -}}
      {{- $section := . -}}
      {{- $lines := split $section "\n" -}}
      {{- $secHeading := trim (index $lines 0) " \t\r" -}}
      {{- $targetList := "" -}}
      {{- if or (eq $secHeading "Características") (eq $secHeading "Traits") (eq $secHeading "Characteristics") -}}
        {{- $targetList = "abilities" -}}
      {{- else if or (eq $secHeading "Ações") (eq $secHeading "Actions") -}}
        {{- $targetList = "actions" -}}
      {{- else if or (eq $secHeading "Ações Lendárias") (eq $secHeading "Legendary Actions") -}}
        {{- $targetList = "legendaryActions" -}}
      {{- else if or (eq $secHeading "Reações") (eq $secHeading "Reactions") -}}
        {{- $targetList = "reactions" -}}
      {{- else if or (eq $secHeading "Ações Bônus") (eq $secHeading "Bonus Actions") -}}
        {{- $targetList = "bonusActions" -}}
      {{- end -}}

      {{- if ne $targetList "" -}}
        {{- $secBody := delimit (after 1 $lines) "\n" -}}
        {{- /* Se houver cabeçalhos nível 3 (###) na seção */ -}}
        {{- if in $secBody "\n### " -}}
          {{- $subsections := split $secBody "\n### " -}}
          {{- range $subsections -}}
            {{- $sublines := split . "\n" -}}
            {{- $name := trim (index $sublines 0) " \t\r" -}}
            {{- if ne $name "" -}}
              {{- $descRaw := trim (delimit (after 1 $sublines) "\n") " \t\r" -}}
              {{- $desc := partial "helpers/forge_roll_parser.html" $descRaw -}}
              {{- $hash := md5 (printf "%s:%s" $page.Permalink $name) -}}
              {{- $id := printf "%s-%s-%s-%s-%s" (substr $hash 0 8) (substr $hash 8 4) (substr $hash 12 4) (substr $hash 16 4) (substr $hash 20 12) -}}
              {{- $item := dict "id" $id "name" $name "description" $desc -}}
              {{- if eq $targetList "abilities" -}}{{- $abilities = $abilities | append $item -}}{{- end -}}
              {{- if eq $targetList "actions" -}}{{- $actions = $actions | append $item -}}{{- end -}}
              {{- if eq $targetList "legendaryActions" -}}{{- $legendaryActions = $legendaryActions | append $item -}}{{- end -}}
              {{- if eq $targetList "reactions" -}}{{- $reactions = $reactions | append $item -}}{{- end -}}
              {{- if eq $targetList "bonusActions" -}}{{- $bonusActions = $bonusActions | append $item -}}{{- end -}}
            {{- end -}}
          {{- end -}}
        {{- else -}}
          {{- /* Fallback para formato legado (linhas com **Nome.**) */ -}}
          {{- range $line := $lines -}}
            {{- $line = trim $line " \t\r" -}}
            {{- if and (hasPrefix $line "**") (findRE `\*\*.*?\.\*\*` $line) -}}
              {{- $parts := split $line ".**" -}}
              {{- if gt (len $parts) 1 -}}
                {{- $name := trim (replaceRE `^\*\*` "" (index $parts 0)) " \t\r" -}}
                {{- $descRaw := trim (index $parts 1) " \t\r" -}}
                {{- $desc := partial "helpers/forge_roll_parser.html" $descRaw -}}
                {{- $hash := md5 (printf "%s:%s" $page.Permalink $name) -}}
                {{- $id := printf "%s-%s-%s-%s-%s" (substr $hash 0 8) (substr $hash 8 4) (substr $hash 12 4) (substr $hash 16 4) (substr $hash 20 12) -}}
                {{- $item := dict "id" $id "name" $name "description" $desc -}}
                {{- if eq $targetList "abilities" -}}{{- $abilities = $abilities | append $item -}}{{- end -}}
                {{- if eq $targetList "actions" -}}{{- $actions = $actions | append $item -}}{{- end -}}
                {{- if eq $targetList "legendaryActions" -}}{{- $legendaryActions = $legendaryActions | append $item -}}{{- end -}}
                {{- if eq $targetList "reactions" -}}{{- $reactions = $reactions | append $item -}}{{- end -}}
                {{- if eq $targetList "bonusActions" -}}{{- $bonusActions = $bonusActions | append $item -}}{{- end -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $strMod := 0 -}}
{{- $dexMod := 0 -}}
{{- $conMod := 0 -}}
{{- $intMod := 0 -}}
{{- $wisMod := 0 -}}
{{- $chaMod := 0 -}}

{{- if $isCharacter -}}
  {{- $strVal := int (default 10 (index $stats "str")) -}}
  {{- $strMod = div (sub $strVal 10) 2 -}}
  {{- if lt $strVal 10 -}}{{- $strMod = div (sub $strVal 11) 2 -}}{{- end -}}

  {{- $dexVal := int (default 10 (index $stats "dex")) -}}
  {{- $dexMod = div (sub $dexVal 10) 2 -}}
  {{- if lt $dexVal 10 -}}{{- $dexMod = div (sub $dexVal 11) 2 -}}{{- end -}}

  {{- $conVal := int (default 10 (index $stats "con")) -}}
  {{- $conMod = div (sub $conVal 10) 2 -}}
  {{- if lt $conVal 10 -}}{{- $conMod = div (sub $conVal 11) 2 -}}{{- end -}}

  {{- $intVal := int (default 10 (index $stats "int")) -}}
  {{- $intMod = div (sub $intVal 10) 2 -}}
  {{- if lt $intVal 10 -}}{{- $intMod = div (sub $intVal 11) 2 -}}{{- end -}}

  {{- $wisVal := int (default 10 (index $stats "wis")) -}}
  {{- $wisMod = div (sub $wisVal 10) 2 -}}
  {{- if lt $wisVal 10 -}}{{- $wisMod = div (sub $wisVal 11) 2 -}}{{- end -}}

  {{- $chaVal := int (default 10 (index $stats "cha")) -}}
  {{- $chaMod = div (sub $chaVal 10) 2 -}}
  {{- if lt $chaVal 10 -}}{{- $chaMod = div (sub $chaVal 11) 2 -}}{{- end -}}
{{- end -}}

{{- $levelInt := 1 -}}
{{- if and (ne $level "") (ne $level nil) -}}
  {{- $levelInt = int $level -}}
{{- end -}}

{{- $prof := 2 -}}
{{- if ge $levelInt 17 -}}{{- $prof = 6 -}}
{{- else if ge $levelInt 13 -}}{{- $prof = 5 -}}
{{- else if ge $levelInt 9 -}}{{- $prof = 4 -}}
{{- else if ge $levelInt 5 -}}{{- $prof = 3 -}}
{{- end -}}

{{- if and $isCharacter (not (and (isset $source "speed") (isset $source "saves"))) -}}
  {{- /* Determine saving throw proficiencies based on class */ -}}
  {{- $classTextLower := lower $classText -}}
  
  {{- $strProf := false -}}
  {{- $dexProf := false -}}
  {{- $conProf := false -}}
  {{- $intProf := false -}}
  {{- $wisProf := false -}}
  {{- $chaProf := false -}}
  
  {{- if in $classTextLower "barbarian" -}}{{- $strProf = true -}}{{- $conProf = true -}}
  {{- else if in $classTextLower "bard" -}}{{- $dexProf = true -}}{{- $chaProf = true -}}
  {{- else if in $classTextLower "cleric" -}}{{- $wisProf = true -}}{{- $chaProf = true -}}
  {{- else if in $classTextLower "druid" -}}{{- $intProf = true -}}{{- $wisProf = true -}}
  {{- else if in $classTextLower "fighter" -}}{{- $strProf = true -}}{{- $conProf = true -}}
  {{- else if in $classTextLower "monk" -}}{{- $strProf = true -}}{{- $dexProf = true -}}
  {{- else if in $classTextLower "paladin" -}}{{- $wisProf = true -}}{{- $chaProf = true -}}
  {{- else if in $classTextLower "ranger" -}}{{- $strProf = true -}}{{- $dexProf = true -}}
  {{- else if in $classTextLower "rogue" -}}{{- $dexProf = true -}}{{- $intProf = true -}}
  {{- else if in $classTextLower "sorcerer" -}}{{- $conProf = true -}}{{- $chaProf = true -}}
  {{- else if in $classTextLower "warlock" -}}{{- $wisProf = true -}}{{- $chaProf = true -}}
  {{- else if in $classTextLower "wizard" -}}{{- $intProf = true -}}{{- $wisProf = true -}}
  {{- end -}}

  {{- /* Calculate saves */ -}}
  {{- $strSave = $strMod -}}{{- if $strProf -}}{{- $strSave = add $strMod $prof -}}{{- end -}}
  {{- $dexSave = $dexMod -}}{{- if $dexProf -}}{{- $dexSave = add $dexMod $prof -}}{{- end -}}
  {{- $conSave = $conMod -}}{{- if $conProf -}}{{- $conSave = add $conMod $prof -}}{{- end -}}
  {{- $intSave = $intMod -}}{{- if $intProf -}}{{- $intSave = add $intMod $prof -}}{{- end -}}
  {{- $wisSave = $wisMod -}}{{- if $wisProf -}}{{- $wisSave = add $wisMod $prof -}}{{- end -}}
  {{- $chaSave = $chaMod -}}{{- if $chaProf -}}{{- $chaSave = add $chaMod $prof -}}{{- end -}}
  
  {{- /* Build Saves Text, e.g. "Dex +7, Int +2" */ -}}
  {{- $savesList := slice -}}
  {{- if $strProf -}}{{- $savesList = $savesList | append (printf "Str %+d" $strSave) -}}{{- end -}}
  {{- if $dexProf -}}{{- $savesList = $savesList | append (printf "Dex %+d" $dexSave) -}}{{- end -}}
  {{- if $conProf -}}{{- $savesList = $savesList | append (printf "Con %+d" $conSave) -}}{{- end -}}
  {{- if $intProf -}}{{- $savesList = $savesList | append (printf "Int %+d" $intSave) -}}{{- end -}}
  {{- if $wisProf -}}{{- $savesList = $savesList | append (printf "Wis %+d" $wisSave) -}}{{- end -}}
  {{- if $chaProf -}}{{- $savesList = $savesList | append (printf "Cha %+d" $chaSave) -}}{{- end -}}
  {{- $savesText = delimit $savesList ", " -}}

  {{- /* Determine walk speed from race page */ -}}
  {{- range $ref := $page.Params.compendium_refs -}}
    {{- $racePage := site.GetPage $ref -}}
    {{- if $racePage -}}
      {{- $raceKind := partial "helpers/kind.html" $racePage -}}
      {{- if eq $raceKind "race" -}}
        {{- $raceNameLower := lower $racePage.Title -}}
        {{- $raceInfo := default (dict) (index $racePage.Params "race_info") -}}
        {{- $raceSpeedText := lower (printf "%v" (default "" (index $raceInfo "speed"))) -}}
        {{- if or (in $raceNameLower "dwarf") (in $raceNameLower "anão")
                  (in $raceNameLower "halfling") (in $raceNameLower "pequenino")
                  (in $raceSpeedText "7.5m") (in $raceSpeedText "25")
        -}}
          {{- $walkSpeed = 25 -}}
        {{- else -}}
          {{- $walkSpeed = 30 -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if eq $walkSpeed "" -}}
    {{- $walkSpeed = 30 -}}
  {{- end -}}
{{- end -}}

{{- if and $isCharacter (eq (len $abilities) 0) -}}
  {{- $seenAbilities := slice -}}
  {{- range $ref := $page.Params.compendium_refs -}}
    {{- $refPage := site.GetPage $ref -}}
    {{- if $refPage -}}
      {{- $refKind := partial "helpers/kind.html" $refPage -}}
      {{- if or (eq $refKind "rule") (eq $refKind "feat") -}}
        {{- if not (in $seenAbilities $refPage.Permalink) -}}
          {{- $seenAbilities = $seenAbilities | append $refPage.Permalink -}}
          {{- $refName := or $refPage.Params.titulo_pt_br $refPage.Title -}}
          {{- $refHash := md5 $refPage.Permalink -}}
          {{- $refID := printf "%s-%s-%s-%s-%s" (substr $refHash 0 8) (substr $refHash 8 4) (substr $refHash 12 4) (substr $refHash 16 4) (substr $refHash 20 12) -}}
          {{- $refDescription := $refPage.RawContent -}}
          {{- $abilities = $abilities | append (dict "id" $refID "name" $refName "description" $refDescription) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if and $isCharacter (eq (len $inventory) 0) -}}
  {{- $seenItems := slice -}}
  {{- range $ref := $page.Params.compendium_refs -}}
    {{- $itemPage := site.GetPage $ref -}}
    {{- if $itemPage -}}
      {{- $itemKind := partial "helpers/kind.html" $itemPage -}}
      {{- if or (eq $itemKind "item") (eq $itemKind "magic_item") -}}
        {{- if not (in $seenItems $itemPage.Permalink) -}}
          {{- $seenItems = $seenItems | append $itemPage.Permalink -}}
          {{- $itemName := or $itemPage.Params.titulo_pt_br $itemPage.Title -}}
          {{- $itemInfo := default (dict) (index $itemPage.Params "item_info") -}}
          {{- $itemDescription := printf "%v" (default "" (index $itemInfo "type")) -}}
          {{- $properties := printf "%v" (default "" (index $itemInfo "properties")) -}}
          {{- if ne $properties "" -}}
            {{- $itemDescription = printf "%s; Propriedades: %s" $itemDescription $properties -}}
          {{- end -}}
          {{- $itemHash := md5 $itemPage.Permalink -}}
          {{- $itemID := printf "%s-%s-%s-%s-%s" (substr $itemHash 0 8) (substr $itemHash 8 4) (substr $itemHash 12 4) (substr $itemHash 16 4) (substr $itemHash 20 12) -}}
          {{- $inventory = $inventory | append (dict "id" $itemID "name" $itemName "description" $itemDescription "quantity" 1) -}}

          {{- /* Weapon calculations */ -}}
          {{- $isWeapon := false -}}
          {{- $typeLower := lower $itemDescription -}}
          {{- $nameLower := lower $itemName -}}
          {{- if or (in $typeLower "weapon") (in $typeLower "arma")
                    (in $nameLower "adaga") (in $nameLower "dagger")
                    (in $nameLower "espada") (in $nameLower "sword")
                    (in $nameLower "arco") (in $nameLower "bow")
                    (in $nameLower "lança") (in $nameLower "spear")
                    (in $nameLower "machado") (in $nameLower "axe")
                    (in $nameLower "bordão") (in $nameLower "staff")
                    (in $nameLower "quarterstaff")
          -}}
            {{- $isWeapon = true -}}
          {{- end -}}

          {{- $damageBase := default "" (index $itemInfo "damage") -}}
          {{- if and $isWeapon (eq $damageBase "") -}}
            {{- if or (in $nameLower "adaga") (in $nameLower "dagger") -}}
              {{- $damageBase = "1d4" -}}
            {{- else if or (in $nameLower "espada curta") (in $nameLower "shortsword") -}}
              {{- $damageBase = "1d6" -}}
            {{- else if or (in $nameLower "arco curto") (in $nameLower "shortbow") -}}
              {{- $damageBase = "1d6" -}}
            {{- else if or (in $nameLower "lança") (in $nameLower "spear") -}}
              {{- $damageBase = "1d6" -}}
            {{- else if or (in $nameLower "machado grande") (in $nameLower "greataxe") -}}
              {{- $damageBase = "1d12" -}}
            {{- else if or (in $nameLower "bordão") (in $nameLower "quarterstaff") -}}
              {{- $damageBase = "1d6" -}}
            {{- else -}}
              {{- $damageBase = "1d4" -}}
            {{- end -}}
          {{- end -}}

          {{- if and $isWeapon (ne $damageBase "") -}}
            {{- $useDex := false -}}
            {{- if or (in $nameLower "arco") (in $nameLower "bow")
                      (in $nameLower "adaga") (in $nameLower "dagger")
                      (in $nameLower "espada curta") (in $nameLower "shortsword")
                      (in (lower $properties) "finesse") (in (lower $properties) "range")
            -}}
              {{- if gt $dexMod $strMod -}}
                {{- $useDex = true -}}
              {{- end -}}
            {{- end -}}

            {{- $modifier := $strMod -}}
            {{- if $useDex -}}
              {{- $modifier = $dexMod -}}
            {{- end -}}

            {{- $magicBonus := 0 -}}
            {{- if in $itemName "+1" -}}{{- $magicBonus = 1 -}}
            {{- else if in $itemName "+2" -}}{{- $magicBonus = 2 -}}
            {{- else if in $itemName "+3" -}}{{- $magicBonus = 3 -}}
            {{- end -}}

            {{- $totalAttack := add (add $modifier $prof) $magicBonus -}}
            {{- $totalDamage := add $modifier $magicBonus -}}

            {{- $attackSign := "+" -}}
            {{- if lt $totalAttack 0 -}}{{- $attackSign = "" -}}{{- end -}}
            
            {{- $damageSign := "+" -}}
            {{- if lt $totalDamage 0 -}}
              {{- $damageSign = "" -}}
            {{- end -}}
            
            {{- $damageRoll := printf "%s%s%d" $damageBase $damageSign $totalDamage -}}
            {{- if eq $totalDamage 0 -}}
              {{- $damageRoll = $damageBase -}}
            {{- end -}}

            {{- $actionDescription := printf "Ataque com Arma: [1d20%s%d] para acertar. Dano: [%s] de dano." $attackSign $totalAttack $damageRoll -}}
            {{- $actionID := printf "%s-attack" $itemID -}}
            {{- $actions = $actions | append (dict "id" $actionID "name" $itemName "description" $actionDescription) -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $isCharacter -}}
  {{- $enrichedSpells := slice -}}
  {{- range $spell := $spellList -}}
    {{- $spellName := $spell.name -}}
    {{- $spellUsage := $spell.usage -}}
    {{- $spellSlug := urlize $spellName -}}
    {{- $spellPage := site.GetPage (printf "/compendium/spells/%s/" $spellSlug) -}}
    {{- $desc := printf "Uso: %s" $spellUsage -}}
    {{- if $spellPage -}}
      {{- $info := default (dict) (index $spellPage.Params "spell_info") -}}
      {{- $details := slice -}}
      {{- if $info.cast_time -}}{{- $details = $details | append (printf "Convocação: %v" $info.cast_time) -}}{{- end -}}
      {{- if $info.range -}}{{- $details = $details | append (printf "Alcance: %v" $info.range) -}}{{- end -}}
      {{- if $info.components -}}{{- $details = $details | append (printf "Componentes: %v" $info.components) -}}{{- end -}}
      {{- if $info.duration -}}{{- $details = $details | append (printf "Duração: %v" $info.duration) -}}{{- end -}}
      
      {{- $header := "" -}}
      {{- if gt (len $details) 0 -}}
        {{- $header = printf "%s\n\n" (delimit $details " | ") -}}
      {{- end -}}
      
      {{- $bodyParsed := partial "helpers/forge_roll_parser.html" $spellPage.RawContent -}}
      {{- $desc = printf "%sUso: %s\n\n%s" $header $spellUsage $bodyParsed -}}
    {{- end -}}
    
    {{- $hash := md5 (printf "%s:%s" $page.Permalink $spellName) -}}
    {{- $id := printf "%s-%s-%s-%s-%s" (substr $hash 0 8) (substr $hash 8 4) (substr $hash 12 4) (substr $hash 16 4) (substr $hash 20 12) -}}
    
    {{- $enrichedSpells = $enrichedSpells | append (dict "id" $id "name" $spellName "description" $desc) -}}
  {{- end -}}
  {{- $spellList = $enrichedSpells -}}
{{- end -}}

{{- $parsedAbilities := slice -}}
{{- range $item := $abilities -}}
  {{- $desc := partial "helpers/forge_roll_parser.html" $item.description -}}
  {{- $parsedAbilities = $parsedAbilities | append (dict "id" $item.id "name" $item.name "description" $desc) -}}
{{- end -}}
{{- $abilities = $parsedAbilities -}}

{{- $parsedActions := slice -}}
{{- range $item := $actions -}}
  {{- $desc := partial "helpers/forge_roll_parser.html" $item.description -}}
  {{- $parsedActions = $parsedActions | append (dict "id" $item.id "name" $item.name "description" $desc) -}}
{{- end -}}
{{- $actions = $parsedActions -}}

{{- $parsedBonusActions := slice -}}
{{- range $item := $bonusActions -}}
  {{- $desc := partial "helpers/forge_roll_parser.html" $item.description -}}
  {{- $parsedBonusActions = $parsedBonusActions | append (dict "id" $item.id "name" $item.name "description" $desc) -}}
{{- end -}}
{{- $bonusActions = $parsedBonusActions -}}

{{- $parsedReactions := slice -}}
{{- range $item := $reactions -}}
  {{- $desc := partial "helpers/forge_roll_parser.html" $item.description -}}
  {{- $parsedReactions = $parsedReactions | append (dict "id" $item.id "name" $item.name "description" $desc) -}}
{{- end -}}
{{- $reactions = $parsedReactions -}}

{{- $parsedLegendaryActions := slice -}}
{{- range $item := $legendaryActions -}}
  {{- $desc := partial "helpers/forge_roll_parser.html" $item.description -}}
  {{- $parsedLegendaryActions = $parsedLegendaryActions | append (dict "id" $item.id "name" $item.name "description" $desc) -}}
{{- end -}}
{{- $legendaryActions = $parsedLegendaryActions -}}

{{- $parsedInventory := slice -}}
{{- range $item := $inventory -}}
  {{- $desc := partial "helpers/forge_roll_parser.html" $item.description -}}
  {{- $parsedInventory = $parsedInventory | append (dict "id" $item.id "name" $item.name "description" $desc "quantity" (default 1 $item.quantity)) -}}
{{- end -}}
{{- $inventory = $parsedInventory -}}

{{- $idHash := md5 $page.Permalink -}}
{{- $id := printf "%s-%s-%s-%s-%s" (substr $idHash 0 8) (substr $idHash 8 4) (substr $idHash 12 4) (substr $idHash 16 4) (substr $idHash 20 12) -}}
{{- $inParty := false -}}
{{- $timestamp := 0 -}}
{{- if gt $page.Date.Unix 0 -}}
  {{- $timestamp = int (mul $page.Date.Unix 1000) -}}
{{- end -}}

{{- $metadata := dict
  "com.battle-system.forge/in-party" false
  "com.battle-system.forge/name" $name
  "com.battle-system.forge/fabd" true
  "com.battle-system.forge/Z001" ""
  "com.battle-system.forge/Z002" ""
  "com.battle-system.forge/Z003" ""
  "com.battle-system.forge/Z004" ""
  "com.battle-system.forge/Z005" $hp
  "com.battle-system.forge/Z006" $hp
  "com.battle-system.forge/Z007" $ac
  "com.battle-system.forge/Z008" ""
  "com.battle-system.forge/Z009" ""
  "com.battle-system.forge/Z010" ""
  "com.battle-system.forge/Z011" ""
  "com.battle-system.forge/Z012" ""
  "com.battle-system.forge/Z013" ""
  "com.battle-system.forge/Z014" (slice)
  "com.battle-system.forge/Z015" ""
  "com.battle-system.forge/Z016" ""
  "com.battle-system.forge/Z017" (default "" (index $stats "str"))
  "com.battle-system.forge/Z018" (default "" (index $stats "dex"))
  "com.battle-system.forge/Z019" (default "" (index $stats "con"))
  "com.battle-system.forge/Z020" (default "" (index $stats "int"))
  "com.battle-system.forge/Z021" (default "" (index $stats "wis"))
  "com.battle-system.forge/Z022" (default "" (index $stats "cha"))
  "com.battle-system.forge/Z023" ""
  "com.battle-system.forge/Z024" ""
  "com.battle-system.forge/Z025" ""
  "com.battle-system.forge/Z026" ""
  "com.battle-system.forge/Z027" ""
  "com.battle-system.forge/Z028" ""
  "com.battle-system.forge/Z029" ""
  "com.battle-system.forge/Z030" ""
  "com.battle-system.forge/Z031" ""
  "com.battle-system.forge/Z032" ""
  "com.battle-system.forge/Z033" ""
  "com.battle-system.forge/Z034" $abilities
  "com.battle-system.forge/Z035" $actions
  "com.battle-system.forge/Z036" $bonusActions
  "com.battle-system.forge/Z037" $reactions
  "com.battle-system.forge/Z038" $legendaryActions
  "com.battle-system.forge/Z039" (slice)
  "com.battle-system.forge/Z040" (slice)
  "com.battle-system.forge/Z041" ""
  "com.battle-system.forge/Z042" ""
-}}
{{- $record := dict
  "id" $id
  "name" $name
  "author" (or site.Params.forge.author "GM - Filipe")
  "metadata" $metadata
  "favorite" false
  "updatedAt" $timestamp
-}}
{{- return $record -}}
