{{- $campaignPage := . -}}
{{- $campaignDir := $campaignPage.File.Dir -}}
{{- $categories := slice -}}

{{- $adventureItems := slice -}}
{{- $adventuresPath := printf "/%sadventures" $campaignDir -}}
{{- $adventuresSection := site.GetPage $adventuresPath -}}
{{- $activeAdventures := site.Data.gmvault.active_adventures | default slice -}}
{{- if $adventuresSection -}}
  {{- range (sort $adventuresSection.Sections "Weight") -}}
    {{- $slug := .File.TranslationBaseName -}}
    {{- if and (eq (partial "helpers/kind.html" .) "adventure") (in $activeAdventures $slug) -}}
      {{- $adventureItems = $adventureItems | append (partial "helpers/gmvault_adventure_category.html" .) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $adventuresCategory := dict 
  "type" "category"
  "name" "Aventuras" 
  "items" $adventureItems 
  "collapsed" true
  "open" false
  "id" (printf "cat_%s" (substr ( (printf "%s-adventures-root" $campaignPage.Permalink) | md5) 0 8)) 
-}}
{{- $categories = $categories | append $adventuresCategory -}}

{{- $campaignItems := slice -}}
{{- $campaignItems = $campaignItems | append (partial "helpers/gmvault_page_item.html" $campaignPage) -}}
{{- $journalPath := printf "/%sjournal" $campaignDir -}}
{{- $journalPage := site.GetPage $journalPath -}}
{{- if $journalPage -}}
  {{- $campaignItems = $campaignItems | append (partial "helpers/gmvault_page_item.html" $journalPage) -}}
{{- end -}}
{{- $campaignCategory := dict 
  "type" "category"
  "name" "Campanha" 
  "items" $campaignItems 
  "collapsed" true
  "open" false
  "id" (printf "cat_%s" (substr ( (printf "%s-campaign-root" $campaignPage.Permalink) | md5) 0 8)) 
-}}
{{- $categories = $categories | append $campaignCategory -}}

{{- $assignedHandoutURLs := slice -}}
{{- if $adventuresSection -}}
  {{- range $adventuresSection.Sections -}}
    {{- if eq (partial "helpers/kind.html" .) "adventure" -}}
      {{- range .Params.handouts -}}
        {{- $handoutPage := site.GetPage . -}}
        {{- if and $handoutPage (not (in $assignedHandoutURLs $handoutPage.Permalink)) -}}
          {{- $assignedHandoutURLs = $assignedHandoutURLs | append $handoutPage.Permalink -}}
        {{- end -}}
      {{- end -}}
      {{- $adventure := . -}}
      {{- range site.Pages -}}
        {{- if and (eq (partial "helpers/kind.html" .) "scene") (hasPrefix .RelPermalink $adventure.RelPermalink) -}}
          {{- range .Params.handouts -}}
            {{- $handoutPage := site.GetPage . -}}
            {{- if and $handoutPage (not (in $assignedHandoutURLs $handoutPage.Permalink)) -}}
              {{- $assignedHandoutURLs = $assignedHandoutURLs | append $handoutPage.Permalink -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $handoutItems := slice -}}
{{- $handoutsPath := printf "/%shandouts" $campaignDir -}}
{{- $handoutsSection := site.GetPage $handoutsPath -}}
{{- if $handoutsSection -}}
  {{- range (sort $handoutsSection.Pages "Weight") -}}
    {{- if and (eq (partial "helpers/kind.html" .) "handout") (not (in $assignedHandoutURLs .Permalink)) -}}
      {{- $handoutItems = $handoutItems | append (partial "helpers/gmvault_page_item.html" .) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $handoutItems) 0 -}}
  {{- $handoutsCategory := dict 
    "type" "category"
    "name" "Handouts" 
    "items" $handoutItems 
    "collapsed" true
    "open" false
    "id" (printf "cat_%s" (substr ( (printf "%s-handouts-root" $campaignPage.Permalink) | md5) 0 8)) 
  -}}
  {{- $categories = $categories | append $handoutsCategory -}}
{{- end -}}

{{- return $categories -}}
