{{- $adventure := . -}}
{{- $adventureTitle := or $adventure.Params.titulo_pt_br $adventure.Title -}}
{{- $adventureSubItems := slice -}}

{{- /* Coleta recursiva/direta de todas as cenas da aventura */ -}}
{{- $scenePages := slice -}}
{{- range site.Pages -}}
  {{- if and (eq (partial "helpers/kind.html" .) "scene") (hasPrefix .RelPermalink $adventure.RelPermalink) -}}
    {{- $scenePages = $scenePages | append . -}}
  {{- end -}}
{{- end -}}

{{- $scenePages = sort (sort $scenePages "Title") "Weight" -}}

{{- $sceneItems := slice -}}
{{- range $scenePages -}}
  {{- $sceneItems = $sceneItems | append (partial "helpers/gmvault_page_item.html" .) -}}
  {{- range .Pages -}}
    {{- if eq (partial "helpers/kind.html" .) "handout" -}}
      {{- $sceneItems = $sceneItems | append (partial "helpers/gmvault_page_item.html" .) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $sceneItems -}}
  {{- $scenesCategory := dict 
    "type" "category" 
    "name" (printf "Cenas de %s" $adventureTitle) 
    "items" $sceneItems 
    "id" (printf "cat_%s" (substr ( (printf "%s-scenes" $adventure.Permalink) | md5) 0 8)) 
  -}}
  {{- $adventureSubItems = $adventureSubItems | append $scenesCategory -}}
{{- end -}}

{{- $adventureNpcItems := slice -}}
{{- if $adventure.Params.npcs -}}
  {{- range $adventure.Params.npcs -}}
    {{- $npcPage := site.GetPage . -}}
    {{- if $npcPage -}}
      {{- $adventureNpcItems = $adventureNpcItems | append (partial "helpers/gmvault_page_item.html" $npcPage) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if $adventureNpcItems -}}
  {{- $npcsCategory := dict 
    "type" "category" 
    "name" (printf "NPCs de %s" $adventureTitle) 
    "items" $adventureNpcItems 
    "id" (printf "cat_%s" (substr ( (printf "%s-npcs" $adventure.Permalink) | md5) 0 8)) 
  -}}
  {{- $adventureSubItems = $adventureSubItems | append $npcsCategory -}}
{{- end -}}

{{- $adventureCategory := dict 
  "type" "category" 
  "name" $adventureTitle 
  "items" $adventureSubItems 
  "id" (printf "cat_%s" (substr ($adventure.Permalink | md5) 0 8)) 
-}}
{{- return $adventureCategory -}}
