{{- $adventure := . -}}
{{- $adventureTitle := or $adventure.Params.titulo_pt_br $adventure.Title -}}
{{- $adventureItems := slice -}}
{{- $handoutRefs := slice -}}

{{- /* Coleta handouts declarados diretamente na aventura. */ -}}
{{- range $adventure.Params.handouts -}}
  {{- if not (in $handoutRefs .) -}}
    {{- $handoutRefs = $handoutRefs | append . -}}
  {{- end -}}
{{- end -}}

{{- /* Coleta recursiva/direta de todas as cenas da aventura. */ -}}
{{- $scenePages := slice -}}
{{- range site.Pages -}}
  {{- if and (eq (partial "helpers/kind.html" .) "scene") (hasPrefix .RelPermalink $adventure.RelPermalink) -}}
    {{- $scenePages = $scenePages | append . -}}
  {{- end -}}
{{- end -}}
{{- $scenePages = sort (sort $scenePages "Title") "Weight" -}}

{{- $seenSceneURLs := slice -}}
{{- range $scenePages -}}
  {{- $sceneURL := .RelPermalink -}}
  {{- if not (in $seenSceneURLs $sceneURL) -}}
    {{- $adventureItems = $adventureItems | append (partial "helpers/gmvault_page_item.html" .) -}}
    {{- $seenSceneURLs = $seenSceneURLs | append $sceneURL -}}
  {{- end -}}
  {{- range .Params.handouts -}}
    {{- if not (in $handoutRefs .) -}}
      {{- $handoutRefs = $handoutRefs | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $handoutItems := slice -}}
{{- $seenHandoutURLs := slice -}}
{{- range $handoutRefs -}}
  {{- $handoutPage := site.GetPage . -}}
  {{- if and $handoutPage (eq (partial "helpers/kind.html" $handoutPage) "handout") -}}
    {{- $handoutURL := $handoutPage.RelPermalink -}}
    {{- if not (in $seenHandoutURLs $handoutURL) -}}
      {{- $handoutItems = $handoutItems | append (partial "helpers/gmvault_page_item.html" $handoutPage) -}}
      {{- $seenHandoutURLs = $seenHandoutURLs | append $handoutURL -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if gt (len $handoutItems) 0 -}}
  {{- $handoutsCategory := dict
    "type" "category"
    "name" "Handouts"
    "items" $handoutItems
    "collapsed" true
    "open" false
    "id" (printf "cat_%s" (substr ( (printf "%s-handouts" $adventure.Permalink) | md5) 0 8))
  -}}
  {{- $adventureItems = $adventureItems | append $handoutsCategory -}}
{{- end -}}

{{- $adventureNpcItems := slice -}}
{{- if $adventure.Params.npcs -}}
  {{- range $adventure.Params.npcs -}}
    {{- $npcPage := site.GetPage . -}}
    {{- if $npcPage -}}
      {{- $adventureNpcItems = $adventureNpcItems | append (partial "helpers/gmvault_page_item.html" $npcPage) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $adventureNpcItems) 0 -}}
  {{- $npcsCategory := dict
    "type" "category"
    "name" (printf "NPCs de %s" $adventureTitle)
    "items" $adventureNpcItems
    "collapsed" true
    "open" false
    "id" (printf "cat_%s" (substr ( (printf "%s-npcs" $adventure.Permalink) | md5) 0 8))
  -}}
  {{- $adventureItems = $adventureItems | append $npcsCategory -}}
{{- end -}}

{{- $adventureCategory := dict
  "type" "category"
  "name" $adventureTitle
  "items" $adventureItems
  "collapsed" true
  "open" false
  "id" (printf "cat_%s" (substr ($adventure.Permalink | md5) 0 8))
-}}
{{- return $adventureCategory -}}
