{{ $visibility := .Params.visibility }}
{{ if eq .Params.kind "monster" }}
  {{ $visibility = "gm" }}
{{ end }}

{{ if eq $visibility "gm" }}
<nav class="breadcrumbs">
  <a href="{{ site.Home.RelPermalink }}">Início</a>
  {{ range .Ancestors.Reverse }}
    {{ if and (ne .RelPermalink "/") (ne .Title "") }}
      <span class="sep">&gt;</span> <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  {{ end }}
  <span class="sep">&gt;</span> <span class="current">{{ .Title }}</span>
</nav>
{{ end }}
