{{ $visibility := .Params.visibility }}
{{ if eq .Params.kind "monster" }}
  {{ $visibility = "gm" }}
{{ end }}

{{ if eq $visibility "gm" }}
<nav class="breadcrumbs">
  <a href="{{ site.Home.RelPermalink }}">Início</a>
  {{ range .Ancestors.Reverse }}
    {{ $ancTitle := or .Params.titulo_pt_br .Title }}
    {{ if and (ne .RelPermalink "/") (ne $ancTitle "") }}
      <span class="sep">&gt;</span> <a href="{{ .RelPermalink }}">{{ $ancTitle }}</a>
    {{ end }}
  {{ end }}
  <span class="sep">&gt;</span> <span class="current">{{ or .Params.titulo_pt_br .Title }}</span>
</nav>
{{ end }}
